In [45]:
import pandas as pd
import numpy as np

# Descrições sobre os dados

In [55]:
# Criando Series
nums = range(5)
ser = pd.Series(nums)
ser

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [56]:
# Exibe os index (como é estamos usando um range para criar ele exibe onde começa e termina a sequencia)
ser.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
# Exibir tipos de dados
ser.dtype

dtype('int64')

In [22]:
# modificando o tipo de dado de 'int64' para 'float64'
ser = pd.Series(nums, dtype='float')
ser

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [24]:
# Saber a soma total
ser.sum()

10.0

In [26]:
# Maior Valor 
ser.max()

4.0

In [27]:
# Menor Valor
ser.min()

0.0

In [35]:
# Média dos valores
ser.mean()

2.0

In [40]:
# Em caso seja necessário aplicar múltiplas funções de agregação podemos passar uma lista com todas elas para a função agg
ser.agg(['mean', 'median', 'sum', 'count', 'min', 'max'])

mean       2.0
median     2.0
sum       10.0
count      5.0
min        0.0
max        4.0
dtype: float64

In [33]:
# retorna n maiores valores da Series
ser.nlargest(n=2)

4    4.0
3    3.0
dtype: float64

In [41]:
# retorna n menores valores da Series
ser.nsmallest(n=2)

0    0.0
1    1.0
dtype: float64

In [44]:
# Exibir Quantidade de linhas
ser.count()

5

In [63]:
# Gerando Series com dados nulos
ser = pd.Series([1, 2, np.nan, 1.5, np.nan, 1, 2, 1])
ser

0    1.0
1    2.0
2    NaN
3    1.5
4    NaN
5    1.0
6    2.0
7    1.0
dtype: float64

In [64]:
# Conta a quantidade de itens nulos
ser.isna().sum()

2

In [65]:
# Retorna o número de ocorrências de cada valor no array Series
ser.value_counts()

1.0    3
2.0    2
1.5    1
dtype: int64

In [66]:
# E finalmente o describe() (quatis)
ser.describe()

count    6.000000
mean     1.416667
std      0.491596
min      1.000000
25%      1.000000
50%      1.250000
75%      1.875000
max      2.000000
dtype: float64