# Criando Dataframes

In [20]:
import pandas as pd
import numpy as np

In [21]:
# Exmplo 1

# Criando dataframe vazio (Apenas colunas)
colunas = ['primeira', 'segunda', 'terceira']

pd.DataFrame(columns=colunas)

Empty DataFrame
Columns: [primeira, segunda, terceira]
Index: []

In [22]:
# Exemplo 2 (Criando dados com np)

# Gerando dados, Criando linhas e colunas
dados = np.random.randint(5, size=(4,2))
colunas = ['primeiro', "segundo"]
print(dados)
print(colunas)

[[0 3]
 [3 3]
 [2 0]
 [1 1]]
['primeiro', 'segundo']

In [23]:
# Criando dataframe com os dados acima
df = pd.DataFrame(data=dados, columns=colunas)
df

   primeiro  segundo
0         0        3
1         3        3
2         2        0
3         1        1

In [26]:
# Exemplo 3

# Criando dataframe com dicionarios

dicio = {'col1': [1, 2], 'col2': [5, 6]}

df = pd.DataFrame(dicio)
df

   col1  col2
0     1     5
1     2     6

In [49]:
# Exemplo 4

# Criando dataframe com array
data = np.array([['','Col1','Col2'],['Row1',1,2],['Row2',3,4]])

df = pd.DataFrame(data=data[1:,1:], index=data[1:,0], columns=data[0, 1:])
df

     Col1 Col2
Row1    1    2
Row2    3    4

In [54]:
# Exemplo 5

# Carregando dados de arquivos, que já é convertido em dataframe
df = pd.read_csv('arquivo.csv')
df

   col1  col2
0     1     5
1     6     7

In [56]:
# Exemplo 6

# Criando dataframe com lista

lista = [1, 2, 5, 3]

df = pd.DataFrame(lista)
df

   0
0  1
1  2
2  5
3  3