# Criando Dataframes

In [20]:
import pandas as pd
import numpy as np

In [21]:
# Exmplo 1

# Criando dataframe vazio (Apenas colunas)
colunas = ['primeira', 'segunda', 'terceira']

pd.DataFrame(columns=colunas)

Empty DataFrame
Columns: [primeira, segunda, terceira]
Index: []

In [22]:
# Exemplo 2 (Criando dados com np)

# Gerando dados, Criando linhas e colunas
dados = np.random.randint(5, size=(4,2))
colunas = ['primeiro', "segundo"]
print(dados)
print(colunas)

[[0 3]
 [3 3]
 [2 0]
 [1 1]]
['primeiro', 'segundo']

In [23]:
# Criando dataframe com os dados acima
df = pd.DataFrame(data=dados, columns=colunas)
df

   primeiro  segundo
0         0        3
1         3        3
2         2        0
3         1        1

In [25]:
# Exemplo 3

# Criando dataframe com dicionarios

dicio = {'col1': [1, 2], 'col2': [5, 6]}

df = pd.DataFrame(dicio)
df

   col1  col2
0     1     5
1     2     6