In [38]:
import pandas as pd
import numpy as np
import string

# Acessando dados do Series

In [66]:
# obtendo lista com o alfabeto
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

s = pd.Series(letras)
s

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [67]:
# Recuperando primeiro elemento
s[0]

'a'

In [79]:
# Exibindo os tres primeiros (do 0 até 3, por conta da expressão :3 )
s[:3]

0    a
1    b
2    c
dtype: object

In [80]:
# Recupera os dados apartir do terceiro index
s[3:]

3    d
4    e
5    f
6    g
dtype: object

In [78]:
# Exibindo os tres ultimos(Contagem reversa por conta do - )
s[-3:]

4    e
5    f
6    g
dtype: object

In [87]:
# Cortando Serie do indice 3 ao 5(-1) 
s[3:5]

3    d
4    e
dtype: object

In [88]:
# Buscar os indicex 1 e 5 (voce pode criar uma lista de indices para ser retornado)
s[[1, 5]]

1    b
5    f
dtype: object

In [61]:
# Criando os dados (Dicionario com chave e valor utilizando o alfabeto como referencia)
s = pd.Series({name: idx for idx, name in enumerate((string.ascii_lowercase))})
s

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64