In [47]:
import pandas as pd
import numpy as np

# Manipulando dados do Series

In [36]:
# Gerando Series (Com dicionario)
ser = pd.Series({'a':1 ,'b':2, 'c':3 })
ser

a    1
b    2
c    3
dtype: int64

In [37]:
# Substituindo valores pelo index

ser['a', 'c'] = 100
ser

a    100
b      2
c    100
dtype: int64

In [66]:
# Gerando Series (Com lista)
ser = pd.Series(['a', 'b', 'c'])
ser

0    a
1    b
2    c
dtype: object

In [107]:
ser[0, 2]= ['num0', 'num1']
ser

0    num0
1       5
2    num1
3      15
4      20
5      25
dtype: object

## Condições

In [109]:
# Gerando dados
ser = pd.Series(np.arange(0, 30, 5))
ser

0     0
1     5
2    10
3    15
4    20
5    25
dtype: int32

In [84]:
# condição  (exbir valores maiores que 10)
ser[ser > 10]

3    15
4    20
5    25
dtype: int32

In [85]:
# Soma dos valores
ser[ser > 10].sum()

60

In [80]:
# condição que Retorna valores boleanos entre True e False
ope = ser > 10
ope

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [86]:
# soma para obter a quantidade
ope.sum()

3

In [106]:
# multiplas condições (maior que 10 e menor que 25)
ser[(ser>10) & (ser<25)]

3    15
4    20
dtype: int32

## Operações aritméticas em Series

In [120]:
# Multiplicando todos os números da Series
ser * 2

0     0
1    10
2    20
3    30
4    40
5    50
dtype: int32

In [122]:
# Somando
ser + 300

0    300
1    305
2    310
3    315
4    320
5    325
dtype: int32

In [131]:
# gerando Series
s1 = pd.Series([1, 2, 3, 4, 7])
s2 = pd.Series([4, 5, 6, 7])

# Somando Series (podemos aplicar a todos os operadores) (se não existir os dois valores a linha vira nula)
s1 + s2

0     5.0
1     7.0
2     9.0
3    11.0
4     NaN
dtype: float64