In [2]:
import pandas as pd
import numpy as np

# Criando Series (pd.Series)

In [3]:
# Exemplo 1, com listas
dados = ['b', 2, 'a', 2]

ser = pd.Series(dados)
ser

0    b
1    2
2    a
3    2
dtype: object

In [4]:
# Exemplo 2, com dicionarios (os indices da lista vira os indices no Series)
dados = {'a': 1, 'b': 2, 'c':3}

ser = pd.Series(dados)
ser

a    1
b    2
c    3
dtype: int64

In [5]:
# Exemplo 3, Gerando serie passando o indice de cada elemento
dados = [1, 2, 3, 4]

ser = pd.Series(data=dados, index=['a', 'b', 'c', 'd'])
ser

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
# exemplo 4, Criando serie com array numpy
arr = np.random.randint(0, 10, size=5)
ser = pd.Series(arr)
ser

0    0
1    2
2    7
3    3
4    2
dtype: int32

In [7]:
# Exemplo 5, escalando valores
pd.Series(5.2, index=["a", "b", "c", "d", "e"])

a    5.2
b    5.2
c    5.2
d    5.2
e    5.2
dtype: float64

In [8]:
# exemplo 6, definindo tipo de dado
pd.Series([1, 2, 3, 4], dtype='float')

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64